@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #ffe9d0;
  font-family: "roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

.title {
  width: 500px;
  margin: 0 auto;
  background: #ffd8ab;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  outline: auto black;
  outline-width: 0.5px;
}

.container {
  background-color: #f1bb7d;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
  width: 800px;
  outline: auto black;
}

h3 {
  margin: 0;
  opacity: 0.5;
  letter-spacing: 2px;
  align-items: center;
}

img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: contain;
  float: left;
}

.joke {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
  padding-left: 30px;
}

.btn {
  background-color: #ca8f4c;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 10px;
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
  outline: auto black;
}

.btn:active {
  transform: scale(0.98);
  outline: auto black;
}

.btn:focus {
  outline: 0;
  outline: auto black;
}
